@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #121117;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background-image: url(../images/stars-background.svg);
}

article {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
  font-size: 15pt;
  font-weight: 400;
  margin: 5vh auto;
}

h2 {
  font-size: 23pt;
  font-weight: 700;
  width: 300px;
}

footer {
  background-color: #1f1d2a;
  width: 100%;
  padding: 25px 0;
  margin-bottom: 1%;
}

footer p {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 13pt;
}

img,
p {
  width: 100%;
}

.main-title {
  color: white;
  font-weight: 900;
  font-size: 60pt;
  text-align: center;
}

.main-title h1 {
  margin: 0;
}

.main-title span {
  font-size: 35pt;
}

.jupiter img {
  margin-top: 5vh;
}
