@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #121117;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background-image: url(../images/stars-background.svg);
}

article {
  width: 65%;
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
  font-size: 17pt;
  font-weight: 400;
  margin: 5vh auto;
}

h2 {
  font-size: 23pt;
  font-weight: 700;
  width: 300px;
}

footer {
  background-color: #1f1d2a;
  width: 100%;
  padding: 25px 0;
  margin-bottom: 1%;
}

footer p {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 13pt;
}

img,
p {
  width: 100%;
}

.main-title {
  color: white;
  font-weight: 900;
  font-size: 60pt;
  text-align: center;
}

.main-title h1 {
  margin: 0;
}

.main-title span {
  font-size: 35pt;
}

.jupiter img {
  margin-top: 5vh;
}

.earth h2 {
  color: green;
}

/* Medium devices (landscape tablets 1024px and down) */
@media only screen and (max-width: 1024px) {
  .main-title {
    font-size: 40pt;
  }

  .main-title span {
    font-size: 18pt;
  }

  article {
    width: 85%;
  }
}

/* Small devices (portrait tablets and large phones, 768px and down) */
@media only screen and (max-width: 768px) {
  .main-title {
    font-size: 50pt;
  }

  .main-title span {
    font-size: 25pt;
  }

  article {
    width: 85%;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 668px) {
  .main-title {
    font-size: 25pt;
  }

  .main-title span {
    font-size: 15pt;
  }

  article {
    width: 90%;
    flex-wrap: wrap;
  }

  p {
    margin-top: 11px;
    font-size: 13pt;
  }
}
