@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #121117;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background-image: url(images/stars-background.png);
}

header {
  background-color: #1f1d2a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
  padding: 10px 10%;
  margin-top: 2%;
}

article {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
  font-size: 15pt;
  font-weight: 400;
  margin: 5vh auto;
}

h2 {
  font-size: 23pt;
  font-weight: 700;
  width: 300px;
}

footer {
  background-color: #1f1d2a;
  width: 100%;
  padding: 5px 0;
  margin-bottom: 1%;
}

footer p {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 13pt;
}

img,
p {
  width: 100%;
}

header .logo {
  height: 100%;
  width: 50px;
  cursor: pointer;
}

.nav-list a,
.nav-button {
  color: #edf0f1;
  text-decoration: none;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  padding: 0px 20px;
}

.nav-list li a {
  transition: color 0.3s ease 0s;
}

.nav-list li a:hover {
  color: #0088a9;
}

.nav-button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.nav-button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

.main-title {
  color: white;
  font-weight: 900;
  font-size: 60pt;
  text-align: center;
}

.main-title h1 {
  margin: 0;
}

.main-title span {
  font-size: 35pt;
}

.jupiter img {
  margin-top: 5vh;
}
